* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  * body {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  * body::-webkit-scrollbar {
    width: 0;
  }

  
   .header {
    height: 120px;
    overflow: hidden;
    position: sticky;
    top:0;
    background: #FFFFFF;
   
  }
  
   .header__container {
    max-width: 1200px;
    width: 93.75vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 25px;
            column-gap: 25px;
  }
  
  .logo {
    width: 186px;
    height: 60px;
  }
  
  .logo__title {
    width: 186px;
    height: 35px;
    /* logo_title */
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 110%;
    /* or 35px */
    letter-spacing: 0.06em;
    /* color-primary */
    color: #545454
  }
  
 .logo__subtitle {
    margin-top: 10px;
    margin-left: 5px;
    width: 186px;
    height: 15px;
    /* logo_subtitle */
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    /* identical to box height */
    letter-spacing: 0.1em;
    /* color-light-xl */
    color: black;
  }
  
 .nav {
    width: 443px;
    height: 27px;
    margin-top: 16px;
    margin-bottom: 17px;
  }
  
 .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 25px;
            column-gap: 25px;
  }
  .nav__list> :nth-child(2){
    border-bottom: 2px solid #F1CDB3;

  }
  .nav__list> :nth-child(2) .nav__link{
    color: black;

  }
  
  .nav__list__items {
    list-style: none;
  }
  
.nav__list .nav__link {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 160%;
    /* identical to box height, or 24px */
    /* color-light-s */
    color: #545454;
    /* Inside Auto Layout */
    text-decoration: none;
  }
  .nav__list__items:hover {
    border-bottom: 2px solid #F1CDB3;
    cursor: pointer;
  }
  .btn__burger {
    display:none;
    background: transparent;
    width: 30px;
    height: 22px;
  }

  
  
.pets {
    height: 1342px;
    background: #F6F6F6;
  }
.pets__container {
    width: 93.75vw;
    max-width: 1200px;
    margin: 0 auto;
    
  }
  
.pets__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
 .pets__heading {
    margin-top: 82px;
    width: 400px;
    height: 90px;
    /* h3 */
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    /* or 45px */
    text-align: center;
    letter-spacing: 0.06em;
    /* color-dark-l */
    color: #545454;
  }
  .pets__slider{
    
    margin-top: 60px;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 30px;
  
  }
 
  
.pets__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 270px;
    height: 435px;
    
    /* color-light-s */
    background: #FAFAFA;
    border-radius: 9px;
  }
  .item1 {

  }
  .item2 {

  }
  .item3 {

  }
  .item4 {

  }
  .item5 {

  }
  .item6 {

  }
  .item7 {

  }
  .item8 {

  }


  .pets__card:hover {
    background: #FFFFFF;
    
  }
  
  .pets__name {
    margin-top: 30px;
    width: 74px;
    height: 23px;
    /* pets-card-title */
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.06em;
    /* color-dark-l */
    color: #545454;
  }
  
   .btn__secondary {
    margin-top: 31px;
    width: 187px;
    height: 52px;
    /* color-primary */
    border: 2px solid #F1CDB3;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 100px;
    /* Inside Auto Layout */
    background: transparent;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 130%;
    /* identical to box height, or 22px */
    letter-spacing: 0.06em;
    /* color-dark-3xl */
    color: #292929;
  }
  .btn__secondary:hover{
    cursor: pointer;
  }
  .pets__navigator{
    width: 340px;
    height: 52px;   
    display: flex;
    justify-content: space-between;

  }
   .btn__paginator, .btn__paginator__active, .btn__paginator__inactive  {
    margin-top: 60px;
    width: 52px;
    height: 52px;
   
    border-radius: 100px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 130%;
    /* identical to box height, or 22px */
    letter-spacing: 0.06em;
    /* color-dark-3xl */
    color: #292929;
    /* Inside Auto Layout */
  }
  .btn__paginator__inactive{
    border: 2px solid #CDCDCD;
    color: #CDCDCD;
    box-sizing: border-box;
  }
  .btn__paginator__active{
    background: #F1CDB3;
  }
  .btn__paginator{
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
  }
  .btn__paginator:hover, .btn__paginator__active:hover {
    background: #FDDCC4;
    cursor: pointer;
  }
  
  
  .footer {
    height: 351px;
    width:62,5vw;
    background: url('../../assets/images/footer-background.png') center / cover no-repeat;
    overflow: hidden;
    
  }
  .footer__container {
    width: 1200px;
    margin: 39px auto 0px auto
  }
.footer__content {
    display:flex;
    align-items: center;
    
}

  .footer__content__text {
   
    display:flex;
    align-items: center;
    margin-bottom: 7px;
    
  }
  .footer__contacts {
    width: 278px;
    height: 234px;
    margin-bottom: 36px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    
  
  }
  .footer__address {
    width: 302px;
    height: 234px;
    margin-left: 161px;
    margin-right: 160px;
    margin-bottom: 36px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer__image {
    width: 300px;
    height: 315px;
  }
  .heading__footer {
    
    width: 279px;
    height: 90px;
    
    /* h3 */
  
    font-family: Georgia, Times New Roman, serif; 
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    /* or 45px */
  
    letter-spacing: 0.06em;
  
    /* color-light-xl */
  
    color: #FFFFFF;
  }
  .footer__contacts__email {
    display: flex;
    flex-direction: row;
  
    align-items: center;
  }
  .icon__email {}
  .heading__footer__s {
    font-family: Georgia, Times New Roman, serif; 
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    margin-left: 20px;
    /* or 23px */
    text-decoration: none;
    
    letter-spacing: 0.06em;
    
    /* color-primary */
    
    color: #F1CDB3;
  }
  
  .footer__contacts__cellphone {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .icon__cellphone {}
  
  .footer__contacts__address {
    display: flex;
    flex-direction: row;
    align-items: center;
   
  }
  .icon__location {}
  
  .footer__image__puppy {
    
  }
  a {
    text-decoration: none;
  }

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color:white;
  top:0;
  left:0;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease;

}
.popup:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.popup__body {
  min-height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}
.popup__container{
  width: 952px;
  height: 552px;
 
}
.popup__content {
  margin-top: 0px;
  color:black;
  background-color: white;
  display: flex;
  width: 900px;
  height: 500px;
  border-radius: 14px;
}

.popup__img {
  
}
.popup__pet__img {
  height: 500px;
  width: 500px;
  border-bottom-left-radius: 14px;
}

.popup__close {
  margin-left: 900px;
  width: 52px;
  height: 52px;
 

/* color-primary */

border: 2px solid #F1CDB3;
box-sizing: border-box;
border-radius: 100px; 
}
.popup__close img {
  margin:18px;
  
}
.popup__close:hover {

}
.popup__close:active {}
.popup__close:focus {}

.popup__text__content {
  margin:11px 9px;
  width: 351px;
  height: 362px;
}

.popup__pet__name {
  
width: 100%;
/* h3 */

font-family: Georgia;
font-style: normal;
font-weight: normal;
font-size: 35px;
line-height: 130%;
/* or 45px */
letter-spacing: 0.06em;
color: #000000;
}

.popup__pet__type__breed {
  margin: 10px 9px 0px 0px;
  width: 151px;
  
  
  /* h4 */

  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */

  letter-spacing: 0.06em;

  color: #000000;

}
.popup__pet__description {
  margin-top:40px;
  width: 100%;
  
  

 /* h5 */

  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 110%;
  /* or 17px */

  letter-spacing: 0.06em;

  color: #000000;
}


.popup__pet__age {
  display: inline;
  font-weight: normal;
}
.popup__pet__inoculations {
  display: inline;
  font-weight: normal;
}
.popup__pet__deseases {
  display: inline;
  font-weight: normal;
}
.popup__pet__parasites {
  display: inline;
  font-weight: normal;
}
.properties__list  {
  margin-top:40px;
  padding-inline-start: 21px;
   /* h5 */

  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 110%;
  /* identical to box height, or 17px */

  letter-spacing: 0.06em;

  color: #000000;
}
.properties__list li {
  margin-bottom: 11px;
  /* h5 */
  font-family: Georgia;
  font-style: normal;
  font-weight: bold;
  
  line-height: 110%;
  /* identical to box height, or 17px */

  letter-spacing: 0.06em;

  color: #000000;
}

li::marker {
  color:#F1CDB3;
}

.overlay {
  display:none;
  
 
}

#burger__menu {
  display:none;
  
  
}
