/* Styles for modal */
.modal {
  width: 100%;
  height: calc(100% - 120px);
  position: absolute;
  top: -100%;
  background: url("../img/modal-img.png") no-repeat center center/cover;
  transition: top 0.5s ease;
  z-index: 50;
}
.modal.active {
  top: 50px;
}

/** Styles for logo */
.modal__logo {
  width: 150px; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
}
.modal__img {
  width: 103px; 
  height: 106px; 
  background: url("../img/logo.png") no-repeat center center/cover;
}
.modal__text {
  font-size: 36px; 
  text-transform: uppercase;
}
.modal__login {
  font-size: 24px;
  color:#7a1a0b;
}

/** Styles for modal wrap */
.modal__wrap {
  display: flex; 
  flex-direction: column; 
  align-items: center;  
  margin: 20px 0 0 0;
}
.modal__title {
  font-size: 48px; 
  text-transform: uppercase;
}
.modal__item {
  cursor: pointer;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 0 0;
  padding: 10px 0;
  font-size: 28px;
  text-transform: uppercase;
  border: 2px solid #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); border-radius: 15px;
}
.modal__item:hover {
  background-color: black;
  color: white;
}
.modal__text-item {
  cursor: pointer;
  padding: 10px 50px;
  font-size: 28px;
  text-transform: uppercase;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); border-radius: 15px;
}
.modal__text-item:hover {
  background-color: black;
  color: white;
}
.modal__names {
  overflow: hidden;
  resize: none;
  height: 40px;
  width: 100px;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  border: 2px solid #000000;
}
.modal__wrap-names {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center;
}
.modal__error {
  color: #7a1a0b;
  text-transform: uppercase;
  font-size: 18px;
}

/** Styles for login */
.modal__input {
  margin-top: 10px;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #000000;
}

/* Styles for rules */
.modal-rules__textarea {
  resize: none;
  width: 80%;
  height: 250px;
  height: calc(100vh - 500px);
  padding: 20px;
}
@media (max-height: 770px) {
  .modal__logo {
    display: none;
  }
  .modal-rules__textarea {
    height: calc(100vh - 270px);
  }
}
@media (max-height: 600px) {
  .modal__title {
    font-size: 20px;
  }
  .modal__item {
    font-size: 16px;
  }
  .modal__text-item {
    font-size: 16px;
  }
}