@keyframes input__dimming{
    from {
      left: -400px;
    }
  
    to {
      
    }
    50% {
        background-color:  rgb(87, 184, 199) ;
    }
    
  }

.input__selector {
    font-family: menlo, monospace;
    color: #333;
    border: none;
    width: calc(100% - 44px);
    outline: none;
    animation: input__dimming 0.5s linear infinite;
}
