.preloader {
    position: absolute;
    width: 100vw;
    height: 100vh; 
    background:black;
    z-index: 9999;
}
.preloader__logo {
    margin: 40vh auto 0px;  
    width: 104px;   
    padding: 0 auto;
}