[data-lobby-cloth] {
    width: 45vw;
    height: 75vh;
    min-width: 585px;
    max-height: 1000px;
    position:relative;
}
[data-lobby-cloth-container] {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15% ;
    width: 100%;
    height: 100%;
}
[data-dice-cells-subscription] {
    color: white;
    font-size: 16px;
}
[data-dice-cells] {
    display:grid;
    width:350px; 
    height:50px; 
    grid-column-gap: 25px;
    grid-template-columns: repeat(5,1fr);
}
[data-roll-dice-area-container] {
    
    width:100%;
    height: 100%;
}
[data-roll-dice-area] {
    width: 80%;
    height: 40%;
    margin: 15px auto;
    max-height: 300px;
    max-width: 490px;
    border-radius: 50px;
    position: relative;
}
[data-roll-dice-btn] {
    width: 50px;
    margin-bottom: 2px;
    cursor: pointer;
}
[data-dice-cell-1],
[data-dice-cell-2],
[data-dice-cell-3],
[data-dice-cell-4],
[data-dice-cell-5] {
    border: 1px solid white;
    border-radius: 8px;
    cursor: pointer;
}
[data-roll-dice-area-1],
[data-roll-dice-area-2],
[data-roll-dice-area-3],
[data-roll-dice-area-4],
[data-roll-dice-area-5]{
    cursor: pointer;
    position: absolute;
    width: 50px;
    height: 50px;
}
[data-roll-dice-area-1] {
    top: 10%;
    left: 15%;
}
[data-roll-dice-area-2] {
    top: 15%;
    left: 40%;
}
[data-roll-dice-area-3]{
    top: 25%;
    right: 20%;
}
[data-roll-dice-area-4]{
    bottom: 15%;
    right: 30%;
}
[data-roll-dice-area-5] {
    bottom: 10%;
    right: 60%;
}
[data-roll-btn] {
    cursor: pointer;
    padding: 3px 50px;
    font-size: 17px;
    text-transform: uppercase;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
    color: white;
}
[data-roll-btn]:hover {
	background-color: black;
	color: white;
}
[data-winner-window] {
    position: absolute;
    display: none;
    width: 70%;
    height: 35%;
    bottom: 30%;
    left: 15%;
}
[data-winner-window-container] {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
[data-winner-caption] {
    display: flex;
    justify-content: center;
    column-gap: 2px; 
}
[data-winner-caption-points] {
    display: flex;
    justify-content: center;
    column-gap: 2px; 
}
[data-letter] {
    width:40px;
    height:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size:20px;
}
[data-winner-name],[data-winner-points] {
    font-size: 20px;
    padding: 3px;
    color: white;
    border: 1px white solid;
    border-radius: 5px;
}
@media screen and (max-width: 1024px) {
    [data-lobby-cloth] {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        width: 100vw;
        min-width: 480px;
        max-width: 585px;
    }
    [data-letter] {
        width:35px;
        height:35px;
    }
}
@media screen and (max-width: 480px) {
    [data-lobby-cloth] {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        min-width: 320px;
    }
    [data-dice-cells] {
        width: 240px;
        height: 40px;
        grid-column-gap: 10px;
    }
    [data-roll-dice-area-1],
    [data-roll-dice-area-2],
    [data-roll-dice-area-3],
    [data-roll-dice-area-4],
    [data-roll-dice-area-5]{
        cursor: pointer;
        position: absolute;
        width: 40px;
        height: 40px;
    }
    [data-roll-btn] {
        display:none;
    }
    [data-letter] {
        width:20px;
        height:20px;
        font-size: 18px;
    }
    [data-winner-name],[data-winner-points] {
        font-size: 18px;
        padding: 3px;
        color: white;
        border: 1px white solid;
        border-radius: 3px;
    }
}


@keyframes rotation {
    from {
        
    }
    to {

    }
}