.modal__tag {
    position: absolute;
    display: none;
    padding: 10px;
    background: rgb(242, 241, 241);
    color: rgb(26, 22, 22);
    border-radius: 3px;
    top: 210px;
    left: 660px;
    z-index: 999;
}
